html, body {
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin: 0;
    background-attachment: fixed;
    max-width: 100%;
    margin: 0;
}
.und{
    border-bottom: 2px solid;
}
u {    
    border-bottom: 1px dotted;
    text-decoration: none;
    text-decoration-color: white;
}

.tbox{
	width:25px;
}

.description{
    color: #999999;
    font-weight: 550;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size-adjust: auto;
    font-size: 110%; 
}
.caption{
    font-size: 16px;
    font-weight: 900;
    color: #666666;
    font-family: "Source Sans Pro", Helvetica, sans-serif; 
}

.sub-caption{
    font-size: 12px;
    font-weight: 500;
    color: #999999;
    font-family: "Source Sans Pro", Helvetica, sans-serif;     
}

div {
    height: 100%;
    float: left;
}

.flex-container{
    padding: 0;
    margin: 0;
    padding-left: 0px;
    margin-left: 0px;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: left;
    overflow: none;
    float: left;
    height: 100%;
    width: 100%;
}

.flex-item {
    background-image: url("../../images/bg.jpg");
    -webkit-filter: contrast(120%); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin-top: -800px;
    margin-left: 0px;
    width:34.45%;
    height: 100%;
    float: left;
 
}
.flex-item2 {
    width: calc(100% - 34.45%);
    height: 100%;
    padding-top: 5%
    padding-right:20px;
}

.designationtext{
    text-align: right;
    padding-top: 0px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 120%;
    font-weight: 200;
    color: rgba(255,255,255,0.6);
}

#profile{
    float:right;
    margin-right: 20%;
    margin-top: 850px;
}
#profile .docfont{
	width: 100%;
    text-align: right;
    position: relative;
    font-family: "Source Sans Pro", Helvetica, sans-serif; 
    color: white;
    font-weight: normal;
    font-size: 20px;
}
#profile .profile-pic{
    float: right;
    position: relative;
    width: 50%;
    height: 50%;
    border-radius: 100%;
}



#social{
    position: relative;
    text-align: right;
    float: right;
    padding-left: 0px;
    margin-right: 20%;
    margin-bottom: 4%;
    margin-top: 1480px;
    font-family: "Source Sans Pro", Helvetica, sans-serif; 
}

.changecolour:hover{
    color: #49bf9d;
    font-color: #49bf9d;
}

.ic{
    font-size: 40px;
}

#menu{
    text-align: right;
    font-size: 25px;
    color:#E5E7E9;
}

#iconformat{
    margin-right: 5px;
    color:#E5E7E9;
}

#header{
    float: left;
    margin-left: 40px;
    margin-top: 30px;
    margin-right: 25px;
}

input[type="submit"],input[type="reset"],input[type="button"],.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    background-color: transparent;
    border-radius: 0.35em;
    border: solid 3px #efefef;
    color: #787878 !important;
    cursor: pointer;
    display: inline-block;
    font-family: "Source Sans Pro", Helvetica, sans-serif; 
    font-weight: 600;
    font-color: black;
    font-size: 15px;
    height: 3.15em;
    height: calc(2.75em + 6px);
    line-height: 2.75em;
    min-width: 10em;
    padding: 0 1.5em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}
input[type="submit"]:hover,input[type="reset"]:hover,input[type="button"]:hover,.button:hover {
    border-color: #49bf9d;
    color: #49bf9d !important;
}
input[type="submit"]:active,input[type="reset"]:active,input[type="button"]:active,.button:active {
    background-color: rgba(73, 191, 157, 0.1);
    border-color: #49bf9d;
    color: #49bf9d !important;
}
input[type="submit"].icon,input[type="reset"].icon,input[type="button"].icon,.button.icon {
    padding-left: 1.35em;
}
input[type="submit"].icon:before,input[type="reset"].icon:before,input[type="button"].icon:before,.button.icon:before {
    margin-right: 0.5em;
}
input[type="submit"].fit,input[type="reset"].fit,input[type="button"].fit,.button.fit {
    display: block;
    margin: 0 0 1em 0;
    min-width: 0;
    width: 100%;
}
input[type="submit"].small,input[type="reset"].small,input[type="button"].small,.button.small {
    font-size: 0.8em;
}
input[type="submit"].big,input[type="reset"].big,input[type="button"].big,.button.big {
    font-size: 1.35em;
}
input[type="submit"].special,input[type="reset"].special,input[type="button"].special,.button.special {
    background-color: #49bf9d;
    border-color: #49bf9d;
    color: #ffffff !important;
}
input[type="submit"].special:hover,input[type="reset"].special:hover,input[type="button"].special:hover,.button.special:hover {
    background-color: #5cc6a7;
    border-color: #5cc6a7;
}
input[type="submit"].special:active,input[type="reset"].special:active,input[type="button"].special:active,.button.special:active {
    background-color: #3eb08f;
    border-color: #3eb08f;
}
input[type="submit"].disabled, input[type="submit"]:disabled,input[type="reset"].disabled,input[type="reset"]:disabled,input[type="button"].disabled,input[type="button"]:disabled,.button.disabled,.button:disabled {
    background-color: #e7e7e7 !important;
    border-color: #e7e7e7 !important;
    color: #b2b2b2 !important;
    cursor: default;
}



#work{
    float: left;
    margin-left: 5%;
    margin-top: 0px;
    margin-right: 2%;
}

#pf{
    width: 45.97%;
    float: left;
    margin-right: 8%;
    margin-left: 0px;
    margin-top: 10px;
    font-family: "Source Sans Pro", Helvetica, sans-serif; 
    color: #616A6B;
}

#pf2{
    width: 45.97%;
    float: left;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 10px;
    font-family: "Source Sans Pro", Helvetica, sans-serif; 
    color: #616A6B;
}

#ppf{
    margin-bottom: 10px;
    font-family: "Source Sans Pro", Helvetica, sans-serif; 
    color: #616A6B;
}

#image{
    border-radius: 6px;
    height: 190px;
}

#portfolio{
    width: 100%;
    margin-bottom: 10px;
}



#contact{
    float: left;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0px;
}

.contactform{
	width: 75%;
}

#textUpper{
    border-radius: 4px;
    font-weight: bold;
    padding-left: 1%;
    background-color: #F2F4F4;
    width:47%;
    height: 40px;
    margin-right: 1%px;
    margin-bottom: 20px;
    border:0px;
}
#textLower{
    border-radius: 4px;
    background-color: #F2F4F4;
    font-weight: bold;
    font-size: 14px;
    padding-left: 1%;
    padding-top: 10px;
    width:95%;
    height: 130px;
    margin-right: 10px;
    margin-bottom: 20px;
    border:0px; 
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #99A3A4;
    font-style: bold;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #99A3A4;
   font-style: bold;
   opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #99A3A4;
   opacity: 1;
   font-style: bold;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #99A3A4;
   font-style: bold;
}

#address{
	width:25%;
    float: left;
    margin-left: 0;
    font-size: 100%;
}
#mdl-icons{
    font-size: 20px;
    color: #616A6B;
    vertical-align: middle;
    margin-right: 2%;
}

#awesomefont{
    font-family: "Source Sans Pro", Helvetica, sans-serif; 
    color: #616A6B;
    font-size-adjust: auto;
}
#image:hover{opacity:0.60;filter:alpha(opacity=60);-webkit-backface-visibility:hidden}
